<?xml version="1.0" encoding="utf-8"?>
<merge shelf="Merge bin files">
   <bin name="system.bin">
      <offset>0x00022000</offset>
      <length>0x04200000</length>
   </bin>
   <bin name="download.bin">
      <offset>0x04222000</offset>
      <length>0x03200000</length>
   </bin>
   <bin name="user.bin">
      <offset>0x07222000</offset>
      <length>0x01800000</length>
   </bin>
   <bin name="data.bin">
      <offset>0x08A22000</offset>
      <length>0x05400000</length>
   </bin>
   <bin name="logs.bin">
      <offset>0x0DE22000</offset>
      <length>0x00C00000</length>
   </bin>
   <bin name="will.bin">
      <offset>0x0EA22000</offset>
      <length>0x00780000</length>
   </bin>
</merge>